form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 300px;
  margin: 0 auto;
}

form button {
  grid-column: 1 / span 2;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
}

.character {
  text-align: center;
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}